#Gradle and Compiler Files (Often deleted/rebuilt)
.gradle/
build/
out/

# IntelliJ IDEA / IDE Configuration Files
.idea/
*.iml
*.ipr
*.iws

#Database Files
*.db
*.mv.db
*.trace.db

#OS Specific System Files
.DS_Store
Thumbs.db